MavenEclipseExample/.classpath
MavenEclipseExample/.project
MavenEclipseExample/.settings/org.eclipse.core.resources.prefs
MavenEclipseExample/.settings/org.eclipse.jdt.core.prefs
MavenEclipseExample/.settings/org.eclipse.m2e.core.prefs
/target/

.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
module1/.settings/org.eclipse.core.resources.prefs
module1/.settings/org.eclipse.jdt.core.prefs
module1/.settings/org.eclipse.m2e.core.prefs
module2/.settings/org.eclipse.core.resources.prefs
module2/.settings/org.eclipse.jdt.core.prefs
module2/.settings/org.eclipse.m2e.core.prefs
